/* =====
About Us
======== */
.aboutheader {
    background: var(--color-red);
    color: var(--color-yellow);
    padding: 2rem 1rem;
}
.aboutheader h1 {
    font-size: 2.5rem;
}
.aboutheader p {
    margin-top: 10px;
    font-size: 1.2rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* background: var(--color-yellow); */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.section {
    margin-bottom: 40px;
}
.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-green);
    display: inline-block;
    padding-bottom: 5px;
    color: var(--color-red);
}
.section p {
    margin-bottom: 20px;
}

.aboutsection {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutcontent {
    flex: 1;
    min-width: 300px;
    color: var(--color-yellow);
  }

  .aboutcontent h2 {
    font-size: 2rem;
  }

  .aboutcontent p {
    color: var(--color-yellow);
  }

  @media (max-width: 768px) {
    .aboutsection {
      flex-direction: column;
    }
  }

/* ========
Our Mission
=========== */
.our-mission{
    background-color: var(--color-green);
}
.our-mission h2{
    border-bottom: 2px solid var(--color-navy);
    color: var(--color-yellow);
}



/* ======
Our Story
========= */
.our-story{
    background-color: var(--color-yellow);
    width: 100%;
    height: 100%;
}

/* =====
Partners
======== */
.our-partner{
    background-color: var(--color-red);
    width: 100%;
    height: 100%;
}

.partner-title{
    color: var(--color-yellow)!important;
}
.partners-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.partner-logo {
    flex: 0 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-logo img {
    max-height: 100%;
    max-width: 100%;
}

  /* Hide horizontal scrollbar for aesthetics (optional) */
.partners-container::-webkit-scrollbar {
    display: none;
}

.partners-container {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

/* =
Team
==== */
.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.team-member {
    flex: 1 1 calc(30% - 20px);
    text-align: center;
    margin: 10px;
}
.team-member img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--color-green);
}
.team-member h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--color-navy);
}
.team-member p {
    font-size: 0.9rem;
    color: var(--color-navy);
}
@media (max-width: 768px) {
    .team-member {
        flex: 1 1 calc(50% - 20px); /* Two columns */
    }
}
@media (max-width: 480px) {
    .team-member {
        flex: 1 1 100%; /* One column */
    }
}
